# Ignore virtual environment
venv/
# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore environment variables
.env
secret_files/

# Ignore frontend dependencies
frontend/node_modules/

# Ignore build files
frontend/dist/

# Ignore VS Code settings
.vscode/

