# Ignore virtual environment
venv/
# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore environment variables
.env
secret_files/

resources/

# Ignore frontend dependencies
frontend/node_modules/



# Ignore VS Code settings
.vscode/


